<form action="auth/logout" method="POST">

    <label for="industry"></label>
    <input required type="text" name="industry" id="industry">

    <label for="ticker"></label>
    <input required type="text" name="ticker" id="ticker">

    <label for="price"></label>
    <input required type="text" name="price" id="price">

    <button type="submit">Submit Stock</button>

</form>


 <h2>Added Stock</h2>

 industry:
 ticker :
 price: 