<h2>Homepage</h2>
<!-- <ul>
    <li><a href="/auth/signup">Sign up</a></li>
    <li><a href="/auth/login">Login in</a></li>
</ul> -->

<p>Welcome to your Stock Tracker, Login to view the latest stats</p>
<p>Otherwise signup and enjoy the features of your personal stock tracker</p>